:root {
  --text--color--homepage--: #828282;
  --background--colour--: #f9fafa;
  --header--colour--: #f3f3f4;
  --search--border--: #eaebeb;
  --menu--text--colour--: #7f7f7f;
  --menu--table--colour--: #ffffff;
  --search--text--colour--: #4d4d4d;
  --menu--hover--colour--: #f1f2f2;
}