@font-face {
    font-family: AvenirNext;
    src: local(AvenirNextCondensed-Bold),
      url(/path/to/AvenirNextCondensed-Bold.woff2) format("woff2"),
      url(/path/to/AvenirNextCondensed-Bold.woff) format("woff"),
      url(/path/to/AvenirNextCondensed-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
  }
  @font-face {
    font-family: Lato;
    src: local(Lato-Light),
      url(/path/to/Lato-Light.woff2) format("woff2"),
      url(/path/to/Lato-Light.woff) format("woff"),
      url(/path/to/Lato-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Lato;
    src: local(Lato-Regular),
      url(/path/to/Lato-Regular.woff2) format("woff2"),
      url(/path/to/Lato-Regular.woff) format("woff"),
      url(/path/to/Lato-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Lato;
    src: local(Lato-Bold),
      url(/path/to/Lato-Bold.woff2) format("woff2"),
      url(/path/to/Lato-Bold.woff) format("woff"),
      url(/path/to/Lato-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  .LightWhiteXXLarge {
    font-family: Lato;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightRedXXLarge {
    font-family: Lato;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--bad);
  }
  .LightLight-BlueXXLarge {
    font-family: Lato;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .RegularWhiteXLarge {
    font-family: Lato;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularLight-BlueXLarge {
    font-family: Lato;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .LightWhiteXLarge {
    font-family: Lato;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightLight-BlueXLarge {
    font-family: Lato;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .RegularWhiteLarge {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularLight-BlueLarge {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .LightWhiteLarge {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightLight-BlueLarge {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .Styleguide-Header-Style {
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .BoldBlueMedium {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--highlight-1);
  }
  .RegularWhiteLarge-2 {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularRedMedium {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--bad);
  }
  .RegularLight-BlueMedium {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .RegularGreenMedium {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--good);
  }
  .LightWhiteMedium {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightLight-BlueMedium {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .RegularWhiteSmall {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularRedSmall {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--bad);
  }
  .RegularLight-BlueSmall {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .LightWhiteSmall {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightLight-BlueSmall {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .BoldWhiteXSmall {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularWhiteXsmall {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularLight-BlueXsmall {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .LightWhiteXsmall {
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightLight-BlueXsmall {
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .RegularWhiteXXSmall {
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .RegularLight-BlueXXSmall {
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }
  .LightWhiteXXSmall {
    font-family: Lato;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--core-secondary);
  }
  .LightLight-BlueXXSmall {
    font-family: Lato;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--label);
  }