@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text--color--homepage--: #828282;
  --background--colour--: #f9fafa;
  --header--colour--: #f3f3f4;
  --search--border--: #eaebeb;
  --menu--text--colour--: #7f7f7f;
  --menu--table--colour--: #ffffff;
  --search--text--colour--: #4d4d4d;
  --menu--hover--colour--: #f1f2f2;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--background--colour--);
}

.header {
  min-width: 129px;
  height: 100%;
  background-color: var(--header--colour--);
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  height: 48%;
}

.search-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  margin: 0 1.375rem;
  min-width: 100px;
}

.stock-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px solid var(--search--border--);
  margin-bottom: 0 2rem;
}

input {
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 300;
  border: none;
  background: none;
  color: var(--search--text--colour--);
  height: 40px;
  margin-bottom: 0.625rem;
  width: 100%;
}

input:focus {
  outline: none;
}

img {
  width: 5.5rem;
  height: 5.5rem;
}

menu {
  width: 100%;
  min-width: 200px;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--menu--table--colour--);
}

.stock-name {
  padding: 0.7rem;
  height: 40px;
  border-radius: 20px;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--menu--table--colour--);
  color: var(--menu--text--colour--);
}

.stock-name:hover {
  background-color: var(--menu--hover--colour--);
}

.search-type {
  margin: 0.5rem 0;
  padding: 0.7rem;
  font-family: "Roboto Serif";
  font-weight: 500;
  font-size: 11px;
  border-bottom: 1px solid var(--search--border--);
  color: var(--menu--text--colour--);
}
