:root {
    --good: #91e4a5;
    --bad: #e95656;
    --core-secondary: #fff;
    --label: #beccdc;
    --button-bg: #003c7d;
    --highlight-1: #7fb3ff;
    --alert: #ffbb5e;
    --secondary: #f8f8f8;
    --rt-main-accent: #02a8cc;
    --rt-good: #6db812;
    --rt-bad-50: rgba(216, 12, 10, 0.5);
    --rt-good-50: rgba(109, 184, 18, 0.5);
    --rt-bad: #d80c0a;
    --rt-row-dark: #2b353d;
    --rt-header-footer-dark: #035567;
    --rt-alt-row-dark: #1e2127;
    --rt-icon: #ddd;
    --rt-dark: #262b33;
    --rt-border: #424646;
    --rt-row-light: #e9f1f4;
    --text-black: #000;
    --text-hover: #e0be86;
    --grid-header: #415f8a;
    --grid-row: #344968;
    --grid-alt-row: #263b59;
    --disabled-pending-row: rgba(133, 141, 151, 0.5);
    --disabled-pending: #858d97;
    --primary-1: #012861;
    --primary-2: #021738;
    --primary-3: #021025;
    --marine-blue: #00265d;
    --primary-5: #00204f;
    --highlight-2: #0068ff;
    --core-primary: #323232;
    --core-primary-1: #383838;
    --core-primary-2: #4d4d4d;
    --core-primary-3: #5f5f5f;
    --core-primary-4: #707070;
    --core-primary-5: #828282;
    --core-secondary-1: #f9fafa;
    --core-secondary-2: #f1f2f2;
    --core-secondary-3: #eaebeb;
    --core-secondary-4: #d8d9d9;
    --core-secondary-5: #bfc0c0;
    --accent-primary: #aaabd1;
    --accent-primary-1: #767791;
    --accent-primary-2: #c3c4de;
    --accent-positive: #01c38d;
    --accent-positive-1: #03a077;
    --accent-positive-2: #0c9674;
    --accent-positive-3: #99e7d1;
    --accent-be-aware: #ff8d00;
    --accent-be-aware-1: #e57e00;
    --accent-be-aware-2: #ffc57f;
    --accent-be-aware-3: #ffe8cc;
    --accent-negative: #ff274b;
    --accent-negative-1: #e62343;
    --accent-negative-2: #ff92a4;
    --accent-negative-3: #ffd3db;
    --trading-buy: #2d95ff;
    --trading-buy-1: #bfdeff;
  }
* {
    font-family: merriweather;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



            




