@import "../colors.css";
@import "../font-styles.css";
@import "../style.css";
body {
    margin: 0rem;
    height: fit-content;
    background-color: var(--background--colour--);
    font-family: var(--generic-font--);
}
input, input:focus {
    border: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

.layout-container {
    height: 100%;
  display: grid;
  grid-template-columns: 8.0625rem 1fr 21.875rem;
  grid-template-rows: 5.875rem 1fr 3.4375rem;
  grid-template-areas: "header name-price summary""header main summary""header footer summary" ;
}

.header {
    grid-area: header;
    background-color: var(--header--colour--);
    display: flex;
    align-items: start;
    justify-content: center;
}
.header > img {
    margin-top: 2rem;
}

.stock-name-price-container {
    grid-area: name-price;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-left: 1.375rem;
    margin-right: 1.375rem;
    padding-bottom: .6rem;
    font-family: "Merriweather", serif;
    font-size: 32px;
    border-bottom: 2px solid var(--search--border--);
}
.stock-name-price-container > input::placeholder {
    color: var(--stock-name-colour--);
}
.price-container {
    font-family: var(--generic-font--);
    display: flex;
    gap: .8rem;
    align-items: end;
}

.stock-price {
    font-size: 2rem;
    color: var(--stock-price-colour--);
}

.progress-percentage-price{
    font-size: 1rem;
    font-weight:500;
    color: #ff3542;
}

.stock-main-container {
    grid-area: main;
    overflow: auto;
}

.stock-chart {
    min-height: 25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-primary-2);
}

.key-statistics-list {
    display: flex;
    flex-wrap: wrap;
}
.key-statistics-item {
    min-width: 25.5rem;
    border-top: 1px solid ;
}
.key-statistics-list:first-child{
    border-top: none;
}

.extra-info-container{
    grid-area: summary;
    background-color: #F1F2F2;
    height: 100%;
    overflow: auto;
}
.top-peers-list {
    display: flex;
}


.layout-container > footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 3.438rem;
}

.footer-price-tracker-container{
    display: flex;

}

@media (max-width: 1100px) {
    .layout-container{
        display:flex;
        flex-direction: column;

    }

    .name-price-container{
        height: 5.125rem;
    }

    .stock-main-container{
        overflow:initial;
    }

    .extra-info-container{
        overflow: initial;
    }
}